<div class='container'>
  <h1>Watch list</h1>
  <%= link_to 'Make a New List', new_list_path   %>
  <div class='cards'>
    <% @lists.each do |list| %>
    <div class='card-category'>
    <%= link_to list.name, list_path(list)=%>
  </div>
  <% end %>
</div>
