<head>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
  <style>
    .horror-font {
      font-family: 'Creepster', cursive;
    }
    .btn {
      position: absolute;  /* Position the button relative to the .banner */
      bottom: -160px;  /* 20px from the bottom of the banner */
      left: 10px;    /* 20px from the left of the banner */
      padding: 10px 20px;
    }
    html, body {
      margin: 0;
      height: 100vh; /* Full viewport height */
      background: linear-gradient(to bottom, black, rgba(255,0,0,1), black);

    }
  </style>
</head>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dxkjh8nhh/image/upload/fl_preserve_transparency/v1731651321/l-intro-1628539252_iaimra.jpg?_s=public-apps);">
  <div class="container" style="position: absolute; top: 0; left: 0; margin: 0.5rem;">
    <h1 class="white-text horror-font"><strong>Japanese Horror</strong></h1>
    <p class="white-text">Change your life one movie at a time</p>
    <%= link_to 'Click me', new_list_path, class: "btn btn-dark" %>
  </div>
</div>
<div class="container">
  <div class="cards my-3">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxkjh8nhh/image/upload/v1731717578/image_hjtdw6.gif)">
        <%= list.name %>
      </div>
    <% end %>
